@model IEnumerable<TestApp.Models.PackageViewModel>

<div class="result">
    <div class="promoted-price">
        @Html.Partial("Price", Model.SingleOrDefault(x => x.Promoted))
    </div>
    @foreach (var package in Model.Where(x => !x.Promoted))
    {
        <div class="normal-price">
            @Html.Partial("Price", package)
        </div>

    }
</div>