@model IEnumerable<TestApp.Models.PackageViewModel>

<div class="result">
    @foreach (var package in Model)
    {
        <div class='@(package.Promoted ? "promoted-price" : "normal-price")'>
            @Html.Partial("Price", package)
        </div>

    }
</div>