@model TestApp.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row col-md-12">
    <div id="errors-section"></div>
    @Html.Partial("UserInput",Model.DimensionViewModel)
    <div id="calculation-result">        
        @Html.Partial("CalculationResult", Model.Packages)
    </div>
</div>