@model TestApp.Models.DimensionViewModel
<div class="row">
    <div class="col-md-2">
        <div id="user-input" class="input">
            <div class="input-group">
                <span class="input-group-addon">@nameof(Model.Depth)</span>
                <input type="text" id="depth" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">@nameof(Model.Width)</span>
            <input type="text" id="width" class="form-control">
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">@nameof(Model.Height)</span>
            <input type="text" id="height" class="form-control">
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon">@nameof(Model.Weight)</span>
            <input type="text" id="weight" class="form-control">
        </div>
    </div>
</div>
<div class="row marigin-top-default">
    <button onclick="sendRequest()">DO IT</button>
</div>