.promoted-price{
    background-color: red;
}

.promoted-price div{
    background-color: red;
    font-size:large;
}

.marigin-top-default{
    margin-top:30px;
}

.navbar{
    margin-left: 120px;
}

.company-name {
    margin-top: 5px;
}

.price {
    margin-top: 2px;
}